.transition(@property: all, @duration: .25s, @easing: linear) {
  -webkit-transition: @property @duration @easing;
  -moz-transition: @property @duration @easing;
  -ms-transition: @property @duration @easing;
  -o-transition: @property @duration @easing;
  transition: @property @duration @easing;
}