/* Fonts */
@sans-serif: "Open sans","Helvetica","Arial", sans-serif;

/* Colors */
@background: #C6C6C6;
@header: #FFF;
@yellow: #F2C80A;
@white: #FFF;
@whiteshadow: #5A5A58;
@greystart: #747471;
@greyend: #676764;

@text: #333;
@textbg: @white;
@link: darken(@yellow, 10%);
@hr: #747471;

/* Layout */
@column: 14rem;
@gutter: 1rem;
@fontsize: 1.2rem;
@vrythm: 1.5rem;
@border: @vrythm/12;
@headerWidth: @gutter*15;

/* RWD */
@RWDSec: 0.0000000001rem;
@M: (@column * 2 + @gutter * 1);
@L: (@column * 3 + @gutter * 2);
@XL: (@column * 4 + @gutter * 3);
