/* Fonts */
@sans-serif: "Open sans","Helvetica","Arial", sans-serif;

/* Colors */
@background: #F2F2F2;
@text: #333;
@link: #BADA55;

/* Layout */
@column: 14rem;
@gutter: 1rem;
@vrythm: 1.4rem;
@border: 0.1rem;

/* RWD */
@RWDSec: 0.0000000001rem;
@M: (@column * 2 + @gutter * 1);
@L: (@column * 3 + @gutter * 2);
@XL: (@column * 4 + @gutter * 3);
