@import "_reset.less";
@import "_vars.less";
@import "_mixins.less";
@import "_icons.less";

/* Common styles */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
  font-family: @sans-serif;
  margin: 0;
  background-color: @background;
  color: @text;
  font-size: (@vrythm/1.2);
  line-height: @vrythm;
}

a {
  color: @link;
  .transition(color, .1s);

  &:hover {
    color: darken(@link, 10%);
  }
}

h1 {
  color: @link;
  &:before {
    .icon('\e004  ');
    font-size: (@vrythm);
  }
  font-size: (@vrythm*2/1.5);
  line-height: (@vrythm*2);
}

h2 {
  a {
    color: @text;
  }
  font-size: (@vrythm*2/1.8);
  line-height: (@vrythm*2);
}

hr {
  color: @text;
  height:0;
  border:@border solid @text;
  margin: (@vrythm/2) 0 (@vrythm/2-@border) 0;
}

/* Menu */

.main-nav,
.main-logo,
.main-container,
.main-footer {
  max-width: @XL;
  padding:0 @gutter;
  margin: 0 auto;
}

.main-logo {
  background:@header;
  border-top:(@border*2) solid @yellow;
  padding: (@vrythm/2 - @border) @gutter;
  height:(@vrythm*6);
  img {
    height:(@vrythm*8)  
  }
}

.main-nav {
  background:@header;
  margin-bottom:@vrythm;
  ul {
    height: (@vrythm*3);
    text-align: right;
  }
  li {
    display: inline-block;
    list-style-type: none;
    background-color: @greystart;
    background: linear-gradient(@greystart, @greyend);
    text-shadow: 0 -1px 0 @whiteshadow;
    border-left: 0.5em @yellow solid;
  }
  a {
    display: block;
    line-height: ((@vrythm*2) - (@border*2));
    text-align: center;
    width: (@gutter*10);
    text-decoration: none;
    font-weight: bold;
    color:@white;
  }
  a.selected {
    text-decoration: underline;
  }
}

/* Contents */
.main-container {
  background: @textbg;
  padding: @vrythm @gutter;
}

/* Text contents */
.main-text {
  h1, h2, h3, h4, p, ul, ol {
    margin:0 0 @vrythm 0;
  }
}


/* Blog posts */
.main-articles {
  
}

/* Footer */

.main-footer {
  background-color: @greystart;
  background: linear-gradient(@greystart, @greyend);
  padding: 0 @gutter;
}

.main-footer__body {
  margin: @vrythm 0 0 0;
  text-align: right;
  list-style-type: none;
}

.main-footer__twitter {
  display:inline-block;
  a:before {
    .icon('\e008');
    font-size: (@vrythm*1.2);
    line-height: (@vrythm*2);
  }
  a {
    .text-hide();
    text-decoration: none;
    color: @white;
    text-shadow: 0 -1px 0 @whiteshadow;
  }
}

.main-footer__github {
  display:inline-block;
  a:before {
    .icon('\e001');
    font-size: (@vrythm*1.2);
    line-height: (@vrythm*2);
  }
  a {
    .text-hide();
    text-decoration: none;
    color: @white;
    text-shadow: 0 -1px 0 @whiteshadow;
  }
}

.main-footer__gg-group {
  display:inline-block;
  a:before {
    .icon('\e006');
    font-size: (@vrythm*1.2);
    line-height: (@vrythm*2);
  }
  a {
    .text-hide();
    text-decoration: none;
    color: @white;
    text-shadow: 0 -1px 0 @whiteshadow;
  }
}

/* RWD */

/* S : 1 column : */
@media screen and (max-width: (@M + @gutter * 2 - @RWDSec)) {
	head link { content:'S'; }

  .main-logo {
    height:(@vrythm*8);
    text-align: center;
  }

  .main-nav {
    padding:@vrythm;
    ul {
      height: auto;
      text-align: center;
    }
    li {
      display: block;
      margin:(@vrythm/2) 0
    }
  }

}

/* n+1 columns */
@media screen and (min-width: (@M + @gutter * 2)) {

}

/* M : 2 columns */
@media screen and (min-width: (@M + @gutter * 2)) and (max-width: (@L + @gutter * 2 - @RWDSec)) {
	head link { content:'M'; }

  .main-logo {
    height:(@vrythm*9);
  }

  .main-nav {
    padding:@vrythm;
    a {
      width: (@gutter*8);
    }
  }

}

/* n+2 columns */
@media screen and (min-width: (@L + @gutter * 2)) {

  .main-text {
    .column(2, (@gutter*2));
  }

  .main-articles {

    .column(2, (@gutter*2));

  }

}

@media screen and (min-width: (@L + @gutter * 2)) and (max-width: (@XL + @gutter * 2 - @RWDSec)) {
	head link { content:'L'; }

}

/* XL : 4 columns */
@media screen and (min-width: (@XL + @gutter * 2)) {
	head link { content:'XL'; }

}

