@import '../styles/variables.scss';

.root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--block) 1fr;
  grid-template-rows:
    calc(var(--vRhythm) * 8) auto
    auto minmax(calc(var(--vRhythm) * 2), auto);
  background: var(--tertiary);
}
.contents {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: flex-end;
  background: var(--light);
}
.contents > :first-child {
  flex: 1;
}
@media screen and (max-width: $CSS_BREAKPOINT_END_S) {
  .contents {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
@media screen and (min-width: $CSS_BREAKPOINT_START_M) {
  .root {
    height: 100vh;
  }
  .contents {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}
