.root {
  color: var(--primary);
  font-family: var(--headingFont);
  font-size: var(--giantFontSize);
  line-height: var(--giantLineHeight);
  font-weight: bold;
  margin: 0 0 calc(var(--vRhythm) * 2) 0;
  text-align: center;
}
