.root {
    color: var(--quinary);
    font-family: var(--headingFont);
    font-size: var(--greatFontSize);
    line-height: var(--greatLineHeight);
    font-weigth: normal;
    margin: var(--vRythm) 0 0 0;
  }