.root {
  nav {
    padding: 0 0 0 var(--gutter);
    margin: 0;
  }
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  a {
    display: block;
    width: var(--vRythm);
    height: var(--vRythm);
    background: var(--light);
    mask-repeat: no-repeat;
    mask-position: center bottom;
    mask-size: calc(var(--vRythm) * 1);
    -webkit-mask-size: calc(var(--vRythm) * 1);
    mask-image: url('/images/icons/twitter.svg');
  }
  li.feed a {
    mask-image: url('/images/icons/feed.svg');
  }
  li.twitter a {
    mask-image: url('/images/icons/twitter.svg');
  }
  li.mastodon a {
    mask-image: url('/images/icons/mastodon.svg');
  }
  span {
    display: none;
  }
}
