.root {
  margin: 0 0 var(--vRhythm) 0;
}

.tootList {
  margin-top: var(--vRhythm);
  display: flex-block;
}

.toot {
  border-bottom: var(--border) solid var(--grey);
  width: auto;
  padding: calc(var(--vRhythm) - var(--border)) 0 0 0;
  overflow: hidden;
}

.toot:last-child {
  border-bottom: none;
}
