@import '../../layouts/variables.scss';

.labels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gutter);
  font-weight: bold;
}
.inputs {
  height: var(--vRythm);
  width: var(--block);
  padding: 0 calc(var(--gutter) / 2);
}
.entry_title {
  margin-top: 0 !important;
}
.entry_title a {
  text-decoration: none !important;
}
.entry_illustration {
  margin: 0 !important;
}
.entry_description {
  margin: 0 !important;
}
.entry_item {
  padding: var(--vRythm) 0;
  border-bottom: var(--border) solid var(--dark);
}
.entry_item:first-child {
  padding: 0 0 var(--vRythm) 0;
}
.entry_item:last-child {
  border: none;
  padding: var(--vRythm) 0 0 0;
}
.pagination {
  display: flex;
  gap: var(--gutter);
  align-items: center;
  justify-content: center;
  padding: var(--vRythm) 0 0 0;
}
.image {
  width: 100%;
}

@media screen and (min-width: $CSS_BREAKPOINT_START_L) {
  .image {
    float: left;
    width: var(--block);
    margin-right: var(--gutter);
  }
  .clear {
    clear: left;
  }
}
